  <div id='wrapper' style="margin-top: -3%">
    <!-- Sidebar -->
    <section id='sidebar'>
      <i class='icon-align-justify icon-large' id='toggle'></i>
      <ul id='dock'>
        <li class='launcher'>
          <i class='icon-dashboard'></i>
          <a href="dashboard.html">Dashboard</a>
        </li>
        <li class='active launcher'>
          <i class='icon-file-text-alt'></i>
          <a><%= link_to 'Form',
            new_student_path %></a>
          </li>
          <li class='launcher'>
            <i class='icon-table'></i>
            <a ><%= link_to 'Tables',
              students_path %></a>
            </li>
            <li class='launcher dropdown hover'>
              <i class='icon-flag'></i>
              <a href='#'>Reports</a>
              <ul class='dropdown-menu'>
                <li class='dropdown-header'>Launcher description</li>
                <li>
                  <a href='#'>Action</a>
                </li>
                <li>
                  <a href='#'>Another action</a>
                </li>
                <li>
                  <a href='#'>Something else here</a>
                </li>
              </ul>
            </li>
            <li class='launcher'>
              <i class='icon-bookmark'></i>
              <a href='#'>Bookmarks</a>
            </li>
            <li class='launcher'>
              <i class='icon-cloud'></i>
              <a href='#'>Backup</a>
            </li>
            <li class='launcher'>
              <i class='icon-bug'></i>
              <a href='#'>Feedback</a>
            </li>
          </ul>
          <div data-toggle='tooltip' id='beaker' title='Made by lab2023'></div>
        </section>
        <!-- Tools -->
        <section id='tools'>
          <ul class='breadcrumb' id='breadcrumb' style="background-color: #2c3e50; color: white">
            <li class='title'>Forms</li>
           <!--  <li><a href="#">Student</a></li>
            <li class='active'><a href="#">Profile</a></li> -->
          </ul>
          <div id='toolbar'>

          </div>
        </section>
        <!-- Content -->
        <div id='content'>
          <div class='panel panel-default' style="background-color: #2c3e50; color: white">
            <div class='panel-heading'>
              <i class='icon-edit icon-large'></i>
             Student
            </div>
            <div class='panel-body'  style="background-color: #2c3e50; color: white">
              <legend> Profile</legend>
            <%= form_for @student, method: :put, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
   <!--  <legend></legend> -->
    <div class="form-group">
      <%= f.label :father_Name , :class => 'control-label col-lg-2' %>
      <br />
      <%= f.text_field :father_name, rows: 10, :class => 'form-control' %>
    </div>
      <div class="form-group">
      <%= f.label :ocupasion , :class => 'control-label col-lg-2' %>
      <br />
      <%= f.text_field :ocupasion, :class => 'form-control' %>
    </div>
      <div class="form-group">
      <%= f.label :income , :class => 'control-label col-lg-2' %>
      <br />
      <%= f.text_area :income, :class => 'form-control' %>
    </div>

 
       <div class="form-group">
      <%= f.label :mother_name , :class => 'control-label col-lg-2'%><br>
      <%= f.text_field :mother_name, :class => 'form-control' %>
    </div>
    
       <div class="form-group">
      <%= f.label :address_line1 , :class => 'control-label col-lg-2'%><br>
      <%= f.text_field :address_line1, :class => 'form-control' %>
    </div>
      <div class="form-group">
      <%= f.label :address_line2 , :class => 'control-label col-lg-2'%><br>
      <%= f.text_field :address_line2, :class => 'form-control' %>
    </div>
      <div class="form-group">
      <%= f.label :city , :class => 'control-label col-lg-2'%><br>
      <%= f.text_field :city, :class => 'form-control' %>
    </div>
      <div class="form-group">
      <%= f.label :state , :class => 'control-label col-lg-2'%><br>
      <%= f.text_field :state, :class => 'form-control' %>
    </div>
      <div class="form-group">
      <%= f.label :pincode , :class => 'control-label col-lg-2'%><br>
      <%= f.text_field :pincode, :class => 'form-control' %>
    </div>
      <div class="form-group">
      <%= f.label :Phone_no , :class => 'control-label col-lg-2'%>
      <%= f.text_field :phone_no, :class => 'form-control' %>
    </div>
      <div class="form-group">
      <%= f.label :emergency_no , :class => 'control-label col-lg-2'%><br>
      <%= f.text_field :emergency_no, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit 'Next Step', :class => 'btn btn-success' %>
    </div>
  </fieldset>
<% end %>

            </div>
          </div>
          <div class='panel panel-default'>
            <div class='panel-heading'  style="background-color: #2c3e50; color: white">
              <i class='icon-edit icon-large'></i>
              <!--  Knob Inputs -->
            </div>
         <!--  <div class='panel-body text-center'>
            <input class='knob' data-height='150' data-width='150' type='text' value='75'>
            <input class='knob' data-fgColor='#16a085' data-height='150' data-width='150' type='text' value='100'>
            <input class='knob' data-fgColor='#7f8c8d' data-height='150' data-width='150' type='text' value='200'>
          </div> -->
        </div>
      </div>
    </div>
    <!-- Footer -->
    <!-- Javascripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script><script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script><script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js" type="text/javascript"></script><script src="assets/javascripts/application-985b892b.js" type="text/javascript"></script>
    <!-- Google Analytics -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>