<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content='lab2023' name='author'>
  <meta content='' name='description'>
  <meta content='' name='keywords'>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="assets/stylesheets/application-a07755f5.css" rel="stylesheet" type="text/css" /><link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/images/favicon.ico" rel="icon" type="image/ico" />

  <title><%= content_for?(:title) ? yield(:title) : "Addmission" %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>


  <%= javascript_include_tag "application" %>

</head>
<body class='main page'>
</div>
</div>
<div class="container">
  <div class="row">
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
 </div>
</div>

<%= bootstrap_flash %>
<%= yield %>


</div><!--/row-->
<footer>
  <p>&copy; Company 2018</p>
</footer>
</div> <!-- /container -->
</body>
</html>
